* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}


.wrapper {
    height: 100vh;
    width: 100vw;
}

.container2 {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
   

}
header{
    margin-left: 57px;
    margin-top: 24px;
     font-size: 28px;
    font-weight: 400;
    color:#5D5D7D;
    line-height: 100%;
}



.header-palavras{
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2){
    opacity: 40%;
}


.container1 {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 20%;
}

img {
    position: relative;
    top: 230px;
    right: 130px;
}

h1 {
    color: #5D5D7D;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    color: rgba(93, 93, 125, 0.60);
    width: 540px;
    font-size: 28px;
    line-height: 48px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button{
    color: #ffffff;
    background-color: #9499EA;
    width: 269px;
    height: 62px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
}

button:hover{
    opacity:  .8;   
}
button:active{
    opacity: .5;
}

@media screen and (max-width: 1024px){
    
    .container1{
        width: 100%;
        height: 50%;
        padding: 0px;
        margin: 0px;
    }
    .container2{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img{
        position: static;
        max-width: 90%;
    }

    header{
        display: none;
    }
    

    h1{
        line-height: 52px;
        font-size: 36px;
       margin: 58px 50px 0 50px;
        text-align: center;
        width: auto;
    }

    p{
        font-size: 14px;
        text-align: center;
        margin: 15px 40px;
        line-height: 24px;
        width: auto;
    }

    button{
        display: block;
        margin: 0 auto;
    }
    
}